Xft.dpi: 96
Xft.antialias: true

urxvt256c*depth: 32
urxvt256c*scrollBar: false
urxvt256c*font: xft:Hack-Regular:size=11
urxvt256c*transparent: false
urxvt256c*fading: 0
urxvt256c*cursorBlink: true
urxvt256c*cursorUnderline: false
urxvt256c*dynamicColors: on

urxvt256c*perl-ext-common: default,matcher,tabbed
urxvt256c*url-launcher: /usr/bin/xdg-open


! special
urxvt256c*foreground:   #c5c8c6
urxvt256c*background:   #1d1f21
urxvt256c*cursorColor:  #c5c8c6

! black
urxvt256c*color0:       #1d1f21
urxvt256c*color8:       #969896

! red
urxvt256c*color1:       #cc342b
urxvt256c*color9:       #cc342b

! green
urxvt256c*color2:       #198844
urxvt256c*color10:      #198844

! yellow
urxvt256c*color3:       #fba922
urxvt256c*color11:      #fba922

! blue
urxvt256c*color4:       #3971ed
urxvt256c*color12:      #3971ed

! magent*
urxvt256c*color5:       #a36ac7
urxvt256c*color13:      #a36ac7

! cyan
urxvt256c*color6:       #3971ed
urxvt256c*color14:      #3971ed

! whit*
urxvt256c*color7:       #c5c8c6
urxvt256c*color15:      #ffffff

urxvt256c*tabbed.tabbar-fg: 8
urxvt256c*tabbed.tabbar-bg: 0
urxvt256c*tabbed.tab-fg: 7
urxvt256c*tabbed.tab-bg: 0

